@font-face { font-family: ubuntu-b; src: url('../fonts/Ubuntu-B.ttf'); }
@font-face { font-family: ubuntu-r; src: url('../fonts/Ubuntu-R.ttf'); }

.main {
    width: 100vw;
    height: 512px;
        display: flex;
        flex-flow: wrap;
            background-image: url('../images/StoneTileDark.png');
            background-repeat: repeat;
            background-size: 32px;
}

.title-logo {
    display: flex;
    justify-content: center;
}

.main-first {
    width: 60vw;
    height: 512px;
    margin: 0px 64px 8px;
}
.main-first-title {
    font-family: ubuntu-b;
    font-size: 24px;
    color: White;
}
.main-first-paragraph {
    font-family: ubuntu-r;
    color: White;
}

.main-second {
    width: 60vw;
    height: 512px;
    margin: 0px 64px 8px;
}
.main-second-title {
    font-family: ubuntu-b;
    font-size: 24px;
    color: White;
}
.main-second-paragraph {
    font-family: ubuntu-r;
    color: White;
}
